<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="gotorecordlist()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      @if (isEditMode) {
        <ion-button (click)="deleteRecord(record)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-input class="ion-text-end"
             #moduleNr
             label="ModuleNr*"
             fill="solid"
             type="text"
             maxlength="10"
             [counter]="true"
             required
             [(ngModel)]="record.moduleNr">
  </ion-input>

  @if (errors.get('moduleNr')) {
    <ion-text color="danger">
      <p class="ion-text-end ion-no-margin ion-padding-end">
        {{ errors.get('moduleNr') }}
      </p>
    </ion-text>
  }

  <ion-input class="ion-text-end"
             #name
             label="Name*"
             fill="solid"
             type="text"
             maxlength="100"
             [counter]="true"
             required
             [(ngModel)]="record.moduleName">
  </ion-input>

  @if (errors.get('moduleName')) {
    <ion-text color="danger">
      <p class="ion-text-end ion-no-margin ion-padding-end">
        {{ errors.get('moduleName') }}
      </p>
    </ion-text>
  }

  <ion-item fill="solid">
    <ion-checkbox [(ngModel)]="record.summerTerm" >Sommersemester</ion-checkbox>
  </ion-item>

<br>

  <ion-select fill="solid" label="Jahr" interface="popover" [(ngModel)]="record.year">
    @for (year of years; track year) {
      <ion-select-option [value]="year">{{ year }}
      </ion-select-option>
    }
  </ion-select>
  <br>
  <ion-input class="ion-text-end"
             #creditpoints
             label="Creditpoints"
             fill="solid"
             type="number"
             maxlength="3"
             [counter]="true"
             [(ngModel)]="record.crp">
  </ion-input>

  @if (errors.get('crp')) {
    <ion-text color="danger">
      <p class="ion-text-end ion-no-margin ion-padding-end">
        {{ errors.get('crp') }}
      </p>
    </ion-text>
  }

  <ion-input class="ion-text-end"
             #note
             label="Note"
             fill="solid"
             type="number"
             maxlength="3"
             [counter]="true"
             [(ngModel)]="record.grade">
  </ion-input>

  @if (errors.get('note')) {
    <ion-text color="danger">
      <p class="ion-text-end ion-no-margin ion-padding-end">
        {{ errors.get('note') }}
      </p>
    </ion-text>
  }

  <ion-item fill="solid">
    <ion-checkbox [(ngModel)]="record.halfWeighted">50%-Leistung</ion-checkbox>
  </ion-item>


  <ion-button class="ion-padding" expand="block" (click)="save()">
    Speichern
  </ion-button>
</ion-content>
