<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Leistungen</ion-title>

    <ion-buttons slot="end">
      <ion-button id = "infos-alert">
        Show Stats
      </ion-button>
      <ion-alert
        trigger = "infos-alert"
        header = "Leistungen"
        [message] = getStatisticsMessage()
        ></ion-alert>
      <ion-button (click)="createRecord()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="records.length === 0">
    <ion-card-header>
      <ion-card-title>Du hast noch keine Leistungen eingetragen 😢</ion-card-title>
    </ion-card-header>
    <ion-button (click)="createRecord()" style="padding: 10px" expand="block">Jetzt Leistung eintragen</ion-button>
  </ion-card>
<ion-list>
  <ion-item-sliding *ngFor="let record of records">
    <ion-item button (click)="editRecord({ record: record })">
      {{ record.moduleName }} {{ record.moduleNr }}
      ({{ record.grade }}%, {{ record.crp }}crp)
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash" (click)="showDeleteConfirmation(record)"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>

</ion-list>


</ion-content>
